env/
*.pyc
.DS_Store
templates/testsocket.html
secrets.py
secrets.sh*
*secret.*
*.jsx
node_modules
package-lock.json
chat.jsx
flask_session
chat.js
words.js
static/
words.html
text_crud.py
test.py
routes.py
public.html


