.homepage nav {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 0.5rem;;
    font-family: 'Krub', sans-serif, bold;
    
}

.nav-transparent {
  background: white;
  opacity:0.95;
  font-size: 1.3em;
  z-index: 100;
}

.nav-transparent .nav-link,
.nav-transparent .navbar-brand, 
.nav-transparent p {
  color: #282828;
  /* color: white; */
}

.nav-transparent .navbar-brand {
  font-weight: bold;
}

.nav-transparent .navbar-brand:hover,
.nav-transparent .nav-link:hover {
  color:#e7d1bc;
}

/* select <section> elements with class "container-fluid"
that have parent with a class "homepage" */
.homepage > div.container-fluid,
.homepage > div.container {
  width: 100vw;
  height: 100vh;
  padding-top: 56px;
}

body {
  background-color: #eae8e1;
  font-family: 'Krub', sans-serif;
}

.indexpage > div.container-fluid,
.indexpage > div.container {
  /* width: 100vw;
  height: 250vh; */
  padding-top: 16px;
  padding-left: 69px;
  width: 100vw;
}

/* Login Page CSS */

#h1right{
  color: #4e5a41;
  font-family: 'Krub', sans-serif, bold;
  font-weight: 900;
  font-style: italic;
  font-size:47px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
#h2mid {
  color: #95998c;
  font-family: 'Krub', sans-serif;
  font-style: italic;
  text-align: center;
  padding-bottom: 10px;
  margin-left: auto;
  margin-top: auto;
  font-size: 28px;
}

#phmid{
  color: #95998c;
  font-family: 'Krub', sans-serif;
  font-style: italic;
  text-align: center;
  padding-bottom: 10px;
  /* margin-left: auto; */
  margin-top: auto;
  font-size: 32px;
}
.pmid{
  color: #95998c;
  font-family: 'Krub', sans-serif;
  font-style: italic;
  text-align: center;
  padding-bottom: 10px;
  margin-left: auto;
  margin-top: auto;
  font-size: 20px;
}

.loginform{
  text-align: center;
}

input[class="login"], input[class="login"] {
  width: 350px;
  padding: 10px 0px;
  opacity: 0.7;
  /* background: ; */
  border: 0;
  /* border-bottom: 1px solid #e7d1bc; */
  border-radius: 0;
  outline: none;
  color: #46513a;
  font-size: 20px;
  text-align: center;
  font-family: 'Krub', sans-serif;
  font-weight: 300;
  font-style: italic;
  margin: 14px;
}

input[type="submit"] {
  background: #46513a;
  border: 0;
  width: 220px;
  height: 40px;
  border-radius: 0px;
  color: #fcfcfc;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  font-family: 'Krub', sans-serif;
  padding:6px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

input[type="submit"]:hover {
  background: #e7d1bc;
  animation-name: shake;
}


.btn {
  margin: 25px;
  padding: 15px 30px;
  border: 1px solid #fff;
  font-family: 'Krub', sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1;
  color: #e7d1bc;
  text-decoration: none;
}

.btn:hover {
  color: #46513a;
  background-color: #000;
}

.img-fluid.right {
  padding-top: 140px;
  padding-right: 85px;
  padding-bottom: 40px;
  height: auto;
  position: inherit;

}
.img-fluid.left {
  padding-top: 140px;
  padding-right: -1px;
  padding-left: 92px;
  padding-bottom: 40px;
  /* max-width: 38%; */
  height: auto;
  position: relative;
}
.resRoute{
  text-align: center;
  color:#46513a;
  font-size: 19px;
  font-family: 'Krub', sans-serif;
  margin-top: 12px;
}

.resRoute:hover {
  color: #46513a;
}

/* Register page */
.img-fluid.pears{
  height: 87%;
}

.container-fluid.reg{
  text-align: center;
  position: inherit;
  right: 62px;
}

/* Edit profile margin set up */
.py-4 {
  padding-top: 2.5rem!important;
  padding-bottom: 1.5rem!important;
}
.container-fluid.reg > #h2mid{
  font-size: 27px;
}


/* POP UP CSS */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  /* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    /* bottom: 125%; */
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

.flash {
    font-family: monospace;
    color:red;
}
.message_holder{
  height: 350px;
  overflow-y: scroll;
  direction: ltr;
  background:rgba(255, 255, 255, 0.5);
  /* position: relative; */
  width: 450px;
  left: 95px;
}

.message_holder::-webkit-scrollbar{
  width: 12px;
}

.message_holder::-webkit-track{
  background: transparent;
}
.message_holder::-webkit-scrollbar-thumb{
background-color: white;
}

.mesContainer{
  border: 2px solid #eae8e1;
  background-color: #fffafa;
  border-radius: 5px;
  padding: 10px;
  margin: 12px 12px;
}
/* Style time text */
.timestamp {
  float: right;
  color: #aaa;
  font-size: 10px;
}

/* livechat header */
.livechat{
  border: 2px solid #eae8e1;
  background-color: #fffafa;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0px 2px 0px;
  text-align: center;
  width: 451px;
  color: #4e5a41;
  font-family: 'Krub', sans-serif, bold;
  font-weight: 900;
  font-style: italic;
  border-radius: 0.5rem;
}

#counts{
  padding: 1px;
  margin: 0px 0px 2px 0px;
  text-align: center;
  color: #4e5a41;
  font-weight: 600;
  font-family: 'Krub', sans-serif, bold;
  left: 95px;
}

.chat > input[class='message']{
  display: block;
  width: 375px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #fffafa;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  float:left;
}

.chat>input[class="btn"]{
  float:left;
  width: 75px;
  margin:0px;
}

.pt-4 {
  padding-top: 3rem!important;
  padding-bottom: 0rem!important;
  font-size: 13px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 55px;
}
.py-3{
  padding-top: 0.5rem!important;
  padding-bottom: 0.5rem!important;
  font-size: 14px;
  font-style: italic;
  background: white;
  font-family: 'Krub', sans-serif, bold;
  font-weight: 600;
  color: #4e5a41;
}


/* Analzyer Page */
.userlatest{
  background-color: #faf9f9;
}
.polarity{
  border: 2px solid #eae8e1;
  background-color: #fffafa;
  border-radius: 5px;
  padding: 10px;
  margin: 12px 12px;
}
#A.h1{
  color: #4e5a41;
  font-family: 'Krub', sans-serif, bold;
}