.homepage nav {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-family: 'Sansita Swashed', cursive;
}

.nav-transparent {
  background: linear-gradient(rgba(243, 243, 237, 0.4), transparent);
  font-size: 1.3em;
  z-index: 100;
}

.nav-transparent .nav-link,
.nav-transparent .navbar-brand, 
.nav-transparent p {
  color: white;
}

.nav-transparent .navbar-brand {
  font-weight: bold;
}

.nav-transparent .navbar-brand:hover,
.nav-transparent .nav-link:hover {
  color: #46513a;
}

/* select <section> elements with class "container-fluid"
that have parent with a class "homepage" */
.homepage > div.container-fluid,
.homepage > div.container {
  width: 100vw;
  height: 100vh;
  padding-top: 56px;
}

body {
  background-color: #eae8e1;
}

/* Login Page CSS */
/* #h1left {
  color: #46513a;
  font-family: 'Sansita Swashed', cursive;
  font-weight: 800;
  font-style: italic;
  font-size:67px;
  text-align: center;
  /* padding-top: 40px;
  padding-bottom: 75px; */
  /* margin-right:20px;
} */ 
#h1right{
  color: #4e5a41;
  font-family: 'Krub', sans-serif, bold;
  font-weight: 900;
  font-style: italic;
  font-size:47px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
#h2mid {
  color: #95998c;
  font-family: 'Krub', sans-serif;
  font-style: italic;
  text-align: center;
  padding-bottom: 10px;
  margin-left: auto;
  margin-top: auto;
  font-size: 32px;
}

.loginform{
  text-align: center;
}

input[class="login"], input[class="login"] {
  width: 350px;
  padding: 10px 0px;
  opacity: 0.7;
  /* background: ; */
  border: 0;
  /* border-bottom: 1px solid #e7d1bc; */
  border-radius: 0;
  outline: none;
  color: #46513a;
  font-size: 20px;
  text-align: center;
  font-family: 'Krub', sans-serif;
  font-weight: 300;
  font-style: italic;
  margin: 14px;
}

input[type="submit"] {
  background: #46513a;
  border: 0;
  width: 220px;
  height: 40px;
  border-radius: 0px;
  color: #fcfcfc;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  font-family: 'Krub', sans-serif;
  padding:6px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

input[type="submit"]:hover {
  background: #fff;
  animation-name: shake;
}


.btn {
  margin: 25px;
  padding: 15px 30px;
  border: 1px solid #fff;
  font-family: 'Krub', sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1;
  color: #e7d1bc;
  text-decoration: none;
}

.btn:hover {
  color: #46513a;
  background-color: #000;
}

.img-fluid.right {
  padding-top: 140px;
  padding-right: 85px;
  padding-bottom: 40px;
  /* max-width: 38%; */
  height: auto;
  position: inherit;

}
.img-fluid.left {
  padding-top: 140px;
  padding-right: -1px;
  padding-left: 92px;
  padding-bottom: 40px;
  /* max-width: 38%; */
  height: auto;
  position: relative;
}
.resRoute{
  text-align: center;
  color:#46513a;
  font-size: 19px;
  font-family: 'Krub', sans-serif;
  margin-top: 12px;
}

.resRoute:hover {
  color: #46513a;
}

/* Register page */
.img-fluid.pears{
  height: auto;
}

.container-fluid.reg{
  text-align: center;
  position: inherit;
  right: 62px;
}

/* POP UP CSS */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

.flash {
    font-family: monospace;
    color:red;
}
.message_holder{
  height: 400px;
  overflow: scroll;
  /* transform: rotate(); */
  direction: ltr;
}

/* .container{
  width: 400px;
  margin: 0 auto;
  border: solid 1px #ccc;
  border-radius: 5px;
  overflow: hidden;
} */

.sentAt{
  color: red;
  display: none;
}

/* Line Wip for Nav BAR */
.line-wipe {
  position: relative;
  text-decoration: none !important;
  display: inline-block;
}

.line-wipe:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 100%;
  border-bottom: 2px solid rgb(55, 170, 243);
  transition: 0.5s width;
}

.line-wipe:hover:after {
  width: 100%;
  border-bottom-color: rgb(0, 86, 179);
}
