{% extends 'base.html' %}

{% block head %}
  <!-- <link rel="stylesheet" href="/style/style.css"> -->
  <script crossorigin src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>

  
{% endblock head %}

{% block body %}
<!-- <div>
  <svg class="viewbox">Here </svg>
</div> -->


<div>
    <p>
        Login here <a href="/login">by clicking</a>
    </p>
</div>
  <div>
    <p>
        Don't an account already? <a href="/register"> Here</a>
    </p>
</div>
<div>
  <p>
      Chat server <a href="/chat"> Here</a>
  </p>
</div>
<div>
  <p>
      Word List here <a href="/words"> Here</a>
  </p>
</div>


{% endblock %}