{% extends 'base.html' %}

{% block head %}
<title>
    Index
</title>
{% endblock head %}

{% block body %}
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div>
          <div class="counter">
            <ul>
              <li>
                Positive:<span id = "pos">{{count["positive"]}}</span>
              </li>
              <li>
                Negative:<span id = "negative">{{count["negative"]}}</span>
              </li>
            </ul>
          </div>

          <div class="chat-container">
            {% for msg in messages %}
            <p>{{msg.user.username}}:{{ msg.message }} <span class="sentAt">{{msg.timestamp.strftime('%c')}}</span></p>
            {% endfor %}
            <div class="message_holder"></div>
          </div>
        </div>
        <div class="userType">
        {% if current_user.is_authenticated %}
        <form class= "chat">
          <input type="text" class="username" placeholder="User Name"/>
          <input type="text" class="message" placeholder="Messages"/>
          <input type="submit"/>
        </form>
        {% endif %}
        {% if current_user.is_anonymous%}
        <div>
          <span class="anonymousUser">Let's have you log in to start chatting away...</span>
        </div>
        {% endif %}
      </div>

      </div>
      <!-- <div class="col"> -->
        <!-- <div class="popup" onclick="myFunction()">Click me!
          <span class="popuptext" id="myPopup">Popup text...</span>
        </div> -->
        <!-- <div class= "popup" id="testPopup">
          <span class="popuptext" id="myPopup">Message</span>
          <section id = "plant-img">
            <img src= "/static/images/plant{{num}}.png"class="img-fluid" alt="Responsive image">
          </section>
        </div> -->
        <div class="row">
          <div class="col-md-4">
            <div class="thumbnail">
              <div class= "popup" id="testPopup">
                <span class="popuptext" id="myPopup">Message</span>
                <div id = "plant-img">
                  <img src= "/static/images/plant{{num}}.png"class="img-fluid" alt="Responsive image">
                </div></div>
                <div class="">
                  <div class="thumbnail">
                      <img src="/static/images/plant2.png" class="img-fluid" alt="Responsive image">
                  </div>
                </div>
                <div class="">
                  <div class="thumbnail">
                      <img src="/static/images/plant3.png" class="img-fluid" alt="Responsive image">
                  </div>
                </div>
              <!-- <a href="/w3images/lights.jpg">
                <img src="/w3images/lights.jpg" alt="Lights" style="width:100%">
                <div class="caption">
                  <p>Lorem ipsum...</p> -->
                </div>
              <div>
                <button type="button" class="btn btn-primary">Primary</button>
              </div>
              <div>
                <p class="polarity">
                  Polarity:
                </p>
                <form action="" class="getPolar" >
                  <dl>
                    {{ form.csrf_token }}
                    {{ form.analysis.label }}:{{ with_errors(form.analysis) }}
                    {{ form.text.label }}:{{ with_errors(form.text) }}
                  </dl>
                  <button type="button" class="btn btn-primary" id="testbutton">Run</button>
                </form>
                </div>
              <div>
                <p>
                    edit <a href="/edit_profile"> Here</a>
                </p>
            </div>
          </div>
      </div>
    </div>
  </div>
<script type="text/javascript">
  let positive= {{count.positive}};
  let negative= {{count.negative}};
  let counts = { 'positive': positive, 'negative':negative };

  $('#testbutton').on('click',(e)=>{
  e.preventDefault();

  const polarity = $.ajax({
    url:'/getPolarity',
    type:"POST",
    data: $('form.getPolar').serialize()
  });
  polarity.done( ()=>{
    console.log("got a respsonse")
});
});
</script>
<script type="text/javascript" src="/static/chatty.js"></script>
<!-- <script type="text/javascript" src="/static/plant.js"></script> -->


{% endblock %}