{% extends 'base.html' %}

{% block head %}
<title>
    Index
</title>
{% endblock head %}

{% block body %}
<h3 style='color: #ccc;font-size: 30px;'>No message yet..</h3>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div>
          <div class="counter">
            <ul>
              <li>
                Positive:<span id = "pos">{{count["positive"]}}</span>
              </li>
              <li>
                Negative:<span id = "negative">{{count["negative"]}}</span>
              </li>
            </ul>
          </div>

          <ul>
            {% for msg in messages %}
            <li>{{ msg.message }}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="message_holder"></div>
        
        {% if current_user.is_authenticated %}
        <form class= "chat">
          <input type="text" class="username" placeholder="User Name"/>
          <input type="text" class="message" placeholder="Messages"/>
          <input type="submit"/>
        </form>
        {% endif %}
      </div>
      <div class="col">
        <!-- <div class="popup" onclick="myFunction()">Click me!
          <span class="popuptext" id="myPopup">Popup text...</span>
        </div> -->
        <div class= "popup" id="testPopup">
          <span class="popuptext" id="myPopup">Message</span>
          <section id = "plant-img">
            <img src= "/static/images/plant{{num}}.png">
          </section>
        </div>
        <!-- <section id = "plant-img" onclick="popAQuote()" class="popup">
          <span class="popuptext" id="plantMessage">I can talk....</span>
          <img src= "/static/images/plant{{num}}.png"> -->

        </section>
      </div>
    </div>
  </div>
<script type="text/javascript">
  let positive= {{count.positive}};
  let negative= {{count.negative}};
  let counts = { 'positive': positive, 'negative':negative };
</script>
<script type="text/javascript" src="/static/chatty.js"></script>
<script type="text/javascript" src="/static/plant.js"></script>


{% endblock %}