{% extends 'base.html' %}

{% block head %}
{% endblock head %}

{% block body %}
<div class="indexpage">
  <div class="container">
    <div class="row content">
      <div class="col" id="chatbox">
        <h1 class="livechat">Live Chat</h1>
        <div class="row" style="width: 450px;background-color: #fffafa;/* left: 100%; */margin: 10px 0px 0px 0px;">
          <div class="col">
            <p id="counts">Positives<br><span id="pos">{{count["positive"]|tojson }}</span></p>
          </div>
          <div class="col">
            <p id="counts">Negatives<br><span id="negative">{{count["negative"]|tojson }}</span></p>
          </div>
          <div class="col">
            <p id="counts">All Messages<br><span id="total">{{count["total"]|tojson }}</span>
          </div>
        </div>
        <section class="message_holder">
          {% for msg in messages %}
          <div class="mesContainer"><b style="color: #000">{{msg.user.username}}: </b>{{ msg.message }}
            <span class="timestamp">{{msg.timestamp.strftime('%c')}}</span>
          </div>
          {% endfor %}
        </section>
        {% if current_user.is_authenticated %}
        <section class="submitMessage">
          <!-- <div class="username-box">{{current_user.username}}</div> -->
          <form class="chat">
            <input type="hidden" class="username" value="{{current_user.username}}" />
            <input type="text" class="message" placeholder="Messages" />
            <input type="submit" class="btn" value="Send">
          </form>
        </section>
        {% endif %}
        {% if current_user.is_anonymous%}
        <section>
          <div class="anonymousUser">Let's have you log in to start chatting away...</div>
        </section>
        {% endif %}
      </div>

      <div class="col" id="thePlant">
        <!-- <img src="/static/images/000.png" style="z-index: -1;position: absolute;right: 17%;bottom: 18%;opacity: 0.5;"> -->
        <img src="/static/images/0000.png" style="position: absolute;z-index: -2;opacity: 0.5;left: 45%;bottom: 20%;">
        <img src="/static/images/000.png" style="position: absolute;z-index: -3;opacity: .5;bottom: 20%;right: 3%;">
        <img src="/static/images/baseboard.PNG" style="position: absolute;z-index: -4;left: 46%;bottom: -12%;">
        <div class="row">
          <div class="col">
            <div class="popup" id="testPopup">
              <div id="plant-img" style="object-position: bottom">
                <span class="popuptext" id="myPopup">Message</span>
                <img src={{pic}} class="img-fluid" alt="Responsive image">
              </div>
            </div>

          </div>

        </div>

      </div>

    </div>
  </div>
</div>



</section>
<script type="text/javascript" src="/static/chatty.js"></script>


{% endblock %}