<!DOCTYPE html>
<html lang="en">
<head>
  <title>PUL General Chat</title>
</head>
<body>

  <h3 style='color: #ccc;font-size: 30px;'>No message yet..</h3>
  <div class="message_holder"></div>

  <form class ="chat" action="" method="POST">
    <input type="text" class="username" placeholder="User Name"/>
    <input type="text" class="message" placeholder="Messages"/>
    <input type="submit"/>
  </form>

  <div class="plant">
    <form class="plant" action = "plantCall">
    <input id="test" type="button" value="Click Me"></form>
  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
  <script type="text/javascript">
    const socket = io.connect(); 

    socket.on( 'connect', function () {
      
      //pt 1; emit login timestamp first to server
      
      // socket.emit('messaging', {
      //   data: "A new user connected!"
      // });
      
      //pt2: jquery ajax to get the values from the form 
      const form = $( 'form.chat' ).on( 'submit', function ( e ){
        e.preventDefault()
        //ignore the action 
        let username = $( 'input.username' ).val()
        let userMessage = $( 'input.message' ).val()
        //String the date time 
        let timestamp= new Date()
        //Sean complimented me here: user point time stamp accuracy 
        //Call for messaging decorator
        socket.emit ( 'messaging', {username : username,message : userMessage,timestamp : timestamp.toISOString()})
        //pt3: remove the message in the input line and focus to add the click there
        $( 'input.message' ).val( '' ).focus()
      });
      //pt4: adding the message into the screen waiting for emit 'my response'   
    });

    socket.on( 'new line', function( data ) {
        // console.log( data )
      if( typeof data.username !== 'undefined' ) {
        $( 'h3' ).remove()
        $( 'div.message_holder' ).append( '<div><b style="color: #000">'+data.username+'</b> '+data.message+'</div>' )
      }
    });

    const test = $('form.plant').on('click', function(e){
        e.preventDefault();

        $.get("/plantCall", (res) =>{
            let num = Number(res);
            if (num) {
                $( 'div.plant' ).append('<div><p>'+num+'</p></div>')
            };

        });
    });


  </script>

</body>
</html>