{% extends 'base.html' %}

{% block head %}
  <!-- <link rel="stylesheet" href="/style/style.css"> -->
  <script crossorigin src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>

{% endblock head %}

{% block body %}
<!-- //Jinja macro to rendering errors for the form field -->
{% macro with_errors(field) %}
<div class="form_field">
{% if field.errors %}
    {% set css_class = 'has_error ' + kwargs.pop('class', '') %}
    {{ field(class=css_class, **kwargs) }}
    <ul class="errors">{% for error in field.errors %}<li>{{ error|e }}</li>{% endfor %}</ul>
{% else %}
    {{ field(**kwargs) }}
{% endif %}
</div>
{% endmacro %}




  <div id="loginbox"></div>
  <h2>Register</h2>
  <p>Enter you username/password to create your own account</p>

  <form action= "/register" method="POST">
    <dl>
      {{ form.csrf_token }}
      {{ with_errors(form.username) }}
      {{ with_errors(form.password) }}
      {{ with_errors(form.confirm_pswd) }}
    </dl>
    <p>
      {{ form.submit(class="button is-sucess")}}</p>
      <!-- <p><button type="submit">Submit</button></p> -->
  </form>

  <div>
      <p>
          Login here <a href="/login">by clicking</a>
      </p>
  </div>


  <!-- <script src="/static/homepage.js" type="text/js"></script> -->

{% endblock %}
